#loading-screen{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999999999999999999999;
	background: rgba(255, 255, 255, 0.45);
}

#loading-box{
	margin: -65px 0 0 -160px;
	display: block;
	width: 300px;
	height: 110px;
	background: #fff;
	padding: 10px;
	background-image: url(images/loading.gif);
	background-repeat: no-repeat;
	background-position: center 10px;
	background-size: 60px;
	position: fixed;
	left: 50%;
	top: 50%;
	border-radius: 5px;
	box-shadow: 1px 1px 7px rgba(71, 71, 71, 0.25);
	text-align: center;
	color: #616161;
	font-style: italic;
}

#loading-box span{
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
	bottom: 10px;
}

a, button{
	transition: 0.3s;
	cursor: pointer;
}

table{
	border-collapse: collapse !important;
}

#modal-output{
    font-size: 13px;
}

#confirm-button-action{
    text-align: right;
    margin: 5px 0 0 0;
}

#confirm-button-action a{
    margin-left: 5px;
}

.preview-content {
    border: 1px solid #cacaca;
    padding: 10px;
    background-color: #fafafa;
    margin-bottom: 10px;
    max-height: 500px;
    overflow: auto;
	
}



#waiting-screen{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999999999999999999999;
	background: rgba(255, 255, 255, 0.45);
}

#waiting-box{
	margin: -65px 0 0 -160px;
	display: block;
	width: 300px;
	height: 110px;
	background: #fff;
	padding: 10px;
	background-image: url(images/loading.gif);
	background-repeat: no-repeat;
	background-position: center 10px;
	background-size: 60px;
	position: fixed;
	left: 50%;
	top: 50%;
	border-radius: 5px;
	box-shadow: 1px 1px 7px rgba(71, 71, 71, 0.25);
	text-align: center;
	color: #616161;
	font-style: italic;
}

#waiting-box span{
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
	bottom: 10px;
}
